{% extends 'layout/sabase.html' %}
{% load duration_filters %}

{% block content %}
<div class="container-fluid" style="height: 100vh;">
    <div class="row" style="height: 10%;">
        <div class="col-12 text-center">
            <h2 class="countdown-timer" id="roundCountdown" data-remaining="{{ round|duration_difference_seconds|default:"0" }}" data-is-paused="{{ round|round_is_paused }}">Time remaining: <span id="countdownDisplay">--:--:--</span></h2>
        </div>
    </div>
    <div class="row" style="height: 70%;">
        <div class="col-md-8" style="height: 100%;">
            <div class="card" style="height: 100%; background-color: transparent;">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <button class="btn btn-warning btn-lg" id="raceButton" style="width: 80%; height: 80%; font-size: 4rem; color: black;">Pre Race Check</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-column" style="height: 100%;">
            {% for lane in round.changelane_set.all %}
                <div id="lane-{{ lane.lane }}" class="card mb-2" style="flex-grow: 1; background-color: transparent;">Lane {{ lane.lane }}</div>
            {% endfor %}
            <div id="changequeue" class="card mb-2" style="flex-grow: 1; background-color: transparent;">Queue</div>
        </div>
    </div>
    <div class="row" style="height: 20%;">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <select class="form-select" id="teamSelect" style="font-size: 1.2rem;>
                {% for team in round.round_team_set.all %}
                    <option value="{{ team.id }}">{{ team.team.number }} {{ team.team.team.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-1">
            <button class="btn btn-success" id="stopGoButton">Stop&Go</button>
        </div>
        <div id="changequeue" class="col-md-7 card" style="background-color: transparent;">Message</div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script>
    $(document).ready(function() {
        function updateCountdown() {
            const countdownEl = $('#roundCountdown');
            const displayEl = $('#countdownDisplay');
            const remainingSeconds = parseInt(countdownEl.attr('data-remaining'), 10);
            const isPaused = countdownEl.attr('data-is-paused') === 'true';

            if (isNaN(remainingSeconds)) {
                displayEl.text('--:--:--');
                return;
            }

            let remainingTime = remainingSeconds * 1000;
            if (!isPaused) {
                const now = new Date().getTime();
                const elapsedSincePageLoad = now - pageLoadTime;
                remainingTime = Math.max(0, remainingTime - elapsedSincePageLoad);
            }

            const hours = Math.floor(remainingTime / (1000 * 60 * 60));
            const minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

            displayEl.text(
                hours.toString().padStart(2, '0') + ':' +
                minutes.toString().padStart(2, '0') + ':' +
                seconds.toString().padStart(2, '0')
            );
        }

        const pageLoadTime = new Date().getTime();
        setInterval(updateCountdown, 1000);
        updateCountdown();

        const roundSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/roundpause/{{ round.id }}/'
        );

        roundSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.type === 'round_update') {
                $('#roundCountdown').data('is-paused', data.is_paused);
                if (data.remaining_seconds !== undefined) {
                    $('#roundCountdown').attr('data-remaining', data.remaining_seconds);
                }
                window.pageLoadTime = new Date().getTime();
            }
        };
    }

    $('#raceButton').click(function() {
        const button = $(this);

        if (button.text() === 'Pre Race Check') {
            $.get('/preracecheck/', function(response) {
                if (response.result) {
                    button.removeClass('btn-warning').addClass('btn-success').text('Start').css('color', 'white');
                }
            });
        } else if (button.text() === 'Start') {
            $.post('/race/start/', function() {
                button.removeClass('btn-success').addClass('btn-danger').text('False Start').css('color', 'white');
                setTimeout(function() {
                    if (button.text() === 'False Start') {
                        button.removeClass('btn-danger').addClass('btn-warning').text('Pause').css('color', 'black');
                    }
                }, 15000);
            });
        } else if (button.text() === 'False Start') {
            $.post('/falsestart/', function() {
                button.removeClass('btn-danger').addClass('btn-success').text('Start').css('color', 'white');
            });
        } else if (button.text() === 'Pause') {
            $.post('/racepaused/', function() {
                button.removeClass('btn-warning').addClass('btn-success').text('Restart').css('color', 'white');
            });
        } else if (button.text() === 'Restart') {
            $.post('/racerestart/', function() {
                button.removeClass('btn-success').addClass('btn-danger').text('False Restart').css('color', 'white');
                setTimeout(function() {
                    if (button.text() === 'False Restart') {
                        button.removeClass('btn-danger').addClass('btn-success').text('Restart').css('color', 'white');
                    }
                }, 15000);
            });
        } else if (button.text() === 'False Restart') {
            $.post('/falserestart/', function() {
                button.removeClass('btn-danger').addClass('btn-success').text('Restart').css('color', 'white');
            });
        } else if (button.text() === 'End Race') {
          $.post('/endofrace/', function() {
            button.prop('disabled', true);
          });
        }

        const remainingSeconds = parseInt($('#roundCountdown').attr('data-remaining'), 10);
        if (remainingSeconds < 120) {
          button.removeClass('btn-warning').removeClass('btn-success').addClass('btn-danger').text('End Race').css('color', 'white');
        }
    });

    });

    $('#stopGoButton').click(function() {
        const teamId = $('#teamSelect').val();
        const button = $(this);
        const card = button.closest('.row');

        if (button.text() === 'Stop&Go') {
            $.post('/serve_team/', { team_id: teamId }, function() {
                card.css('background-color', 'red');
                button.text('Served');
            });
        } else {
            card.css('background-color', 'transparent');
            button.text('Stop&Go');
            $('#teamSelect').val($('#teamSelect option:first').val());
        }
    });
</script>
{% endblock extra_js %}
