{% extends 'layout/content.html' %}
{% load static %}

{% block main_content %}
<form method="post">
    {% csrf_token %}
    {{ team_form.as_p }}
    <button type="submit">Select Team</button>
</form>

{% if selected_team %}
    <h2>Team Members for {{ selected_team.name }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}
        {{ add_member_form.as_p }}
        <button type="submit">Save</button>
    </form>
{% endif %}
{% endblock %}
