{% load static %}

<footer class="footer pt-5 mt-5">
    <div class="container">
        <div class="row" style="margin-left: -5px; margin-right: -5px;">
            <div class="col-md col-sm-3 col-4 px-1 mb-4">
                <div>
                    <img src="{% static "logos/b_quick.png" %}" class="footer-logo" alt="B-Quik">
                </div>
            </div>

            <div class="col-md col-sm-3 col-4 px-1 mb-4">
                <div>
                    <img src="{% static "logos/bf_goodrich.png" %}" class="footer-logo" alt="BF Goodrich">
                </div>
            </div>

            <div class="col-md col-sm-3 col-4 px-1 mb-4">
                <div>
                    <img src="{% static "logos/honda.png" %}" class="footer-logo" alt="Honda">
                </div>
            </div>

            <div class="col-md col-sm-3 col-4 px-1 mb-4">
                <div>
                    <img src="{% static "logos/ibis-logo.jpg" %}" class="footer-logo" alt="ibis">
                </div>
            </div>

            <div class="col-md col-sm-3 col-4 px-1 mb-4">
                <div>
                    <img src="{% static "logos/logo-asa.png" %}" class="footer-logo" alt="action Sport">
                </div>
            </div>

            <div class="col-md col-sm-3 col-4 px-1 mb-4">
                <div>
                    <img src="{% static "logos/tissot-logo.jpg" %}" class="footer-logo" alt="Tissot">
                </div>
            </div>

            <div class="col-md col-sm-3 col-4 px-1 mb-4">
                <div>
                    <img src="{% static "logos/shark.png" %}" class="footer-logo" alt="Shark">
                </div>
            </div>
            <div class="col-12">
                <div class="text-center d-flex align-items-center justify-content-center">
                    <p class="text-dark my-4 text-sm font-weight-normal me-2">
                        &copy; 2025 Fran&ccedil;ois Wautier.
                    </p>
                    <img src="{% static "logos/gokartrace-logo.png" %}" class="footer-logo" alt="gokertrace" style="height: 1.2em; vertical-align: middle;">
                </div>
            </div>
        </div>
    </div>
</footer>
