{% load static %}

<footer class="footer pt-5 mt-5">
    <div class="container">
        <div class="row" style="margin-left: -5px; margin-right: -5px;">
            {% for logo in sponsors_logos %}
            {% if forloop.counter0|divisibleby:7 and not forloop.first %}
        </div>
        <div class="row" style="margin-left: -5px; margin-right: -5px;">
            {% endif %}
            <div class="col-md col-sm-3 col-4 px-1 mb-4">
                <div>
                    {% if logo.image.url %}
                    <img src="{{ logo.image.url }}" class="footer-sponsor-logo" alt="{{ logo.name }}">
                    {% else %}
                    <img src="{{ logo.image }}" class="footer-sponsor-logo" alt="{{ logo.name }}">
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-12">
            <div class="text-center d-flex align-items-center justify-content-center">
                <p class="text-dark my-4 text-sm font-weight-normal">
                    &copy; 2025 <a href="https://github.com/frawau/gokartrace" target="_blank" rel="noopener noreferrer" class="text-dark">Fran&ccedil;ois Wautier</a>.
                </p>
                <!-- <img src="{% static "logos/gokartrace-logo.png" %}" class="footer-logo" alt="gokertrace" style="height: 1.2em; vertical-align: middle; margin-left: 0.5em;"> -->
            </div>
        </div>
    </div>
</footer>
