{% load static %}

<footer class="footer pt-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4 ms-auto">
                <div>
                    <img src="{% static "logos/b_quick.png" %}" class="mb-3 footer-logo" alt="B-Quik">
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-4 mb-4">
                <div>
                    <img src="{% static "logos/bf_goodrich.png" %}" class="mb-3 footer-logo" alt="BF Goodrich">
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-4 mb-4">
                <div>
                    <img src="{% static "logos/honda.png" %}" class="mb-3 footer-logo" alt="Honda">
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-4 mb-4">
                <div>
                    <img src="{% static "logos/ibis-logo.jpg" %}" class="mb-3 footer-logo" alt="ibis">
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-4 mb-4">
                <div>
                    <img src="{% static "logos/logo-asa.png" %}" class="mb-3 footer-logo" alt="action Sport">
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-4 mb-4">
                <div>
                    <img src="{% static "logos/tissot-logo.jpg" %}" class="mb-3 footer-logo" alt="Tissot">
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-4 mb-4 me-auto">
                <div>
                    <img src="{% static "logos/shark.png" %}" class="mb-3 footer-logo" alt="Shark">
                </div>
            </div>

            <div class="col-12">
                <div class="text-center">
                    <p class="text-dark my-4 text-sm font-weight-normal">
                        &copy; 2025 Fran&ccedil;ois Wautier.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

