{% extends 'layout/sabase.html' %}

{% block content %}
<div style="height: 100vh; width: 100vw; display: flex; align-items: stretch; justify-content: center; margin: 0; padding: 0;">
{% include 'layout/changelane_detail.html' with change_lane=change_lane %}
</div>

<script>
    const laneNumber = {{ change_lane.lane }};
    const wsScheme = window.location.protocol === 'https:' ? 'wss' : 'ws';
    const socket = new WebSocket(`${wsScheme}://${window.location.host}/ws/pitlanes/${laneNumber}/`);

    socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        if (data.type === 'lane.update') {
            document.getElementById(`lane-{{ change_lane.id }}`).outerHTML = data.lane_html;
        }
    };

    socket.onclose = function(event) {
        if (!event.wasClean) {
            reloadTimer = setTimeout(() => {
                location.reload();
            }, 3000); // Reload after 3 seconds
        }
    };
</script>
{% endblock %}
