{% extends "layout/base.html" %}
{% load static %}

{% block body %}index-page bg-gray-200{% endblock body %}

{% block content %}

<div class="container position-relative">
<br />
<br />
<br />
<br />
<img src="/static/logos/Easykart-logo.png" class="img-fluid" alt="Easykart.Net" style="max-width: 25%; height: auto;">
<img src="{% static 'logos/gokartrace-logo.svg' %}" class="img-fluid position-absolute" alt="GoKartRace" style="top: 4rem; right: 10px; max-width: 25%; height: auto;">
</div>
{% block main_content %} {% endblock main_content %}
{% endblock content %}
