{% extends "layout/base.html" %}
{% load static %}

{% block body %}index-page bg-gray-200{% endblock body %}

{% block content %}

<div class="container">
<br />
<br />
<br />
<br />
<div class="d-flex justify-content-between align-items-center" style="height: 80px; border: 2px solid red;">
    <img src="/static/logos/Easykart-logo.png" class="img-fluid" alt="Easykart.Net" style="height: 80px; width: auto;">
    <img src="{% static 'logos/gokartrace-logo.svg' %}" class="img-fluid" alt="GoKartRace" style="height: 80px; width: auto;">
</div>
</div>
{% block main_content %} {% endblock main_content %}
{% endblock content %}
