{% extends "layout/base.html" %}
{% load static %}

{% block body %}index-page bg-gray-200{% endblock body %}

{% block content %}

<div class="container position-relative">
<br />
<br />
<br />
<br />
{% if main_logo %}
<img src="{{ main_logo.image.url }}" class="img-fluid" alt="{{ main_logo.name }}" style="max-width: 25%; height: auto;">
{% endif %}
<img src="{% static 'logos/gokartrace-logo.jpg' %}" class="img-fluid position-absolute" alt="GoKartRace" style="top: 80px; right: 10px; max-width: 25%; height: auto; z-index: 10;">
</div>
{% block main_content %} {% endblock main_content %}
{% endblock content %}
